@font-face {
  font-family: "Balsamiq";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/BalsamiqSans-Regular.woff2") format("woff2"),
    url("../fonts/BalsamiqSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Balsamiq";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/BalsamiqSans-Bold.woff2") format("woff2"),
    url("../fonts/BalsamiqSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
}
