// colors

$color-white: #ffffff;
$color-black: #000000;
$color-transparent: transparent;
$color-deep-sea:#14855F;
$color-melon: #FFB8B8;

// fonts

$ff-raleway: "Raleway", sans-serif;
$ff-balsamiq: "Balsamiq", sans-serif;

// viewports

$tablet-width: 768px;
$desktop-width: 1024px;

// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
